
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


body{
    
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #507f8fbd;
}

.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    padding: 30px;

}

h1{
    text-align: center;
    margin: 20px 0 40px 0;
    color: rgb(1, 5, 7);

}

input{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 100px;
    margin-bottom: 13px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.05);
    outline: none;
    transition: .3s;   
}

button{
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
  padding: 10px;
  color:white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

button:hover{
  background: #064283;
}


/*sign up link*/
a{
  color: rgb(2, 15, 46);
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;

}

